#alpha_info{
    position: relative;
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    transition: .1s linear;
}

#alpha_info.active{
    opacity: 1;
    height: 100%;
    padding: 26px;
}

